# See http://help.github.com/ignore-files/ for more about ignoring files.

#python
__pycache__/

# Logs
logs
*.log

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Virtualenv
env/

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace